body {
    background-color: #168497;
    display: block;
}

/* Fra siden, body er også satt opp med utgangspunkt i koden fra siden */

.artikkelside-wrap {
    background-color: #f0f1f2;
    max-width: 1280px;
    min-width: 768px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

div {
    display: block;
}

.met_head {
    min-height: 150px;
    background-image: none, linear-gradient(white, black);
}

.OsloMet {
    min-width: 150px;
    min-height: 100px;
    background-image: url(../Image/OsloMetGul.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.site-header {
    background-color: #ff8100;
    display: flex;
    height: 70px;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    text-transform: uppercase;
}

.site-header .header-left {
    display: flex;
}

.site-header #header-logo {
    margin: 20px;
}

a { 
    cursor: pointer;
    color: #ff4e00;
}

.site-header #header-logo .icon {
    background-image: url(../Image/oslomet-logo-black.svg);
    width: 60px;
    height: 36px;
}

.icon {
    display: inline-block;
}

.site-header #header-nav>ul>li>a {
    line-height: 40px;
    display: inline-block;
    color: black;
    margin: 15px;
}

.site-header #header-nav>ul {
    margin: 0;
    padding: 0;
}

.site-header #header-nav>ul>li {
    display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 40px;
    line-height: 1.15em;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
    font-size: 26px;
    line-height: 1.23em;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.side-footer {
    background-color: #030303;
    background-repeat: no-repeat;
    color: #fff;
    padding: 30px;
    margin-top: 20px;
}

.side-footer .div-footer {
    font-size: 24px;
}

.side-footer .div-footer {
    display: flex;
    flex-flow: row wrap;
    text-transform: uppercase;
    font-family: economica;
    font-size: 18px;
    line-height: 1.25em;
}

.side-footer .div-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-footer .div-footer>section {
    width: 50%;
}